{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan semper dui non tempus. Nullam felis odio, vulputate eu dignissim quis, sodales non diam. Fusce hendrerit varius dictum. Vivamus faucibus sem malesuada placerat commodo. Donec euismod lacinia porta. Nullam quis dictum neque. Donec rutrum odio sagittis odio luctus maximus.
    </p>
    <p>
      Donec tristique auctor nibh, nec elementum elit consequat nec. Vivamus mattis sed ipsum vel dapibus. Etiam et dictum quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisl mi, pharetra quis dignissim eu, aliquam eu elit. Pellentesque quis fermentum augue, quis maximus lectus. Nullam elementum massa ut mi congue, vitae sodales purus euismod. Aenean turpis mauris, sollicitudin et euismod nec, accumsan viverra elit. Donec magna purus, vulputate quis urna eget, rutrum pharetra tellus. Donec hendrerit augue a turpis venenatis, vel porta mauris vestibulum. Ut ultricies dolor purus, in fermentum est dictum a. 
  </p>
{% endblock %}