<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Woodbrass{% endblock %}</title>
    </head>
    <body>
        {{ include('app/_header.html.twig') }}
        {% block body %}{% endblock %}
    </body>
</html>
